<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<header th:fragment="header" class="site_header">
	<div class="header_wrapper">
		<a class="brand" href="#" th:href="@{/toppage}"><img src="/img/logo.png"></a>
		<nav th:if="${session.loginUser == null}">
			<ul class="header_ul">
				<li class="header_item"><a class="header_button" href="#" th:href="@{/login/form}">ログイン</a></li>
				<li class="header_item"><a class="header_button" href="#" th:href="@{/createUser/form}">新規登録</a></li>
			</ul>
		</nav>
		<nav th:if="${session.loginUser != null}">
			<ul class="header_ul">
				<li class="header_item"><a class="header_button" href="#" th:href="@{/register}">サブスク登録</a></li>
				<li class="header_item"><a class="header_button" href="#" th:href="@{/mysubscriptions/index}">サブスク一覧</a></li>
				<li class="header_item"><a class="header_button" href="#" th:href="@{/logout}">ログアウト</a></li>
			</ul>
		</nav>
	</div>
	</header>
</html>