<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="/css/header.css" th:href="@{/css/header.css}" rel="stylesheet">
<link href="/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet">
<link href="/css/content.css" th:href="@{/css/content.css}" rel="stylesheet">
<meta charset="UTF-8">
<title>サブスク編集画面</title>
</head>
<body>
	<div th:replace="common/header::header"></div>
	<div id="register_subscription_body">
		<h1>サブスク編集</h1>
		<div th:if = "!${#lists.isEmpty(errorList)}"> 
			<div  th:if = "${#lists.size(errorList) != 0}"> 
				 <ul th:each = "error : ${errorList}">
					<li id="register_subscription_error_message" th:text = "${error}"></li>
				</ul>	   
			</div> 
		</div>
		<form method="POST" th:action="@{/register/insert}" th:object="${subscriptionForm}">
			<div id="register_service_name">
				<label>サービス名</label><br>
				<div id="error_message" th:if="${#fields.hasErrors('serviceName')}" th:errors="*{serviceName}"></div>
				<input type="text" name="serviceName" maxlength="100" size="30" th:value="*{serviceName}">
			</div>
			<div id="register_starting_date">
				<label>利用開始日付</label><br>
				<div id="error_message" th:if="${#fields.hasErrors('startingDate')}" th:errors="*{startingDate}"></div>
				<input type="date" name="startingDate" th:value="*{startingDate}">
			</div>
			<div id="register_monthly_fee">
				<label>月額利用料</label><br>
				<div id="error_message" th:if="${#fields.hasErrors('monthlyFee')}" th:errors="*{monthlyFee}"></div>
				<input type="text" name="monthlyFee" maxlength="10" th:value="*{monthlyFee}">円
			</div>
			<input id="register_subscription_button" type="submit" value="登録">
		</form>
	</div>
	<div th:replace="common/footer::footer"></div>
</body>
</html>