@charset "UTF-8";

.content {
	height : auto;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

#login_error_message {
	color :rgb(255, 148, 131);
}

#create_user_error_message {
	color :rgb(255, 148, 131);
}

#create_user_body {
	margin-left: 20px;
	margin-bottom: 20px;
}

#create_userId {
	margin-top: 15px;
	margin-bottom: 15px;
}

#create_user_button {
	padding: 3px 25px 3px 25px;
	margin-top: 10px;
}

#login_body {
	margin-left: 20px;
	margin-bottom: 20px;
}

#login_userId {
	margin-top: 15px;
	margin-bottom: 15px;
}

#login_user_button {
	padding: 3px 25px 3px 25px;
	margin-top: 10px;
}

#error_message  {
	font-size: 3px;
	color: orange;
}

#errorlist {
	color:#FF3333;
}

table {
	width: 100%;
}

table, th, td{
	border-collapse: collapse;
	border: 1px #080808 solid;
}

table#mySubscriptionsList .serviceName {
	width: 30%;
}

table#mySubscriptionsList .startingDate {
	width: 20%;
}

table#mySubscriptionsList th {
	font-weight: bold;
	padding: 20px;
}

#register_subscription_body {
	margin-left: 20px;
	margin-bottom: 20px;
}

#register_service_name {
	margin-top: 15px;
	margin-bottom: 15px;
}

#register_starting_date {
	margin-top: 15px;
	margin-bottom: 15px;
}

#register_subscription_button {
	padding: 3px 25px 3px 25px;
	margin-top: 10px;
}

#register_subscription_error_message {
		color :rgb(255, 148, 131);
}
