@charset "UTF-8";

.content {
	height : 100%;
	margin : 20px;
}

#login_error_message {
	color :rgb(255, 148, 131);
}

#create_user_error_message {
	color :rgb(255, 148, 131);
}

#create_userId {
	margin-top: 15px;
	margin-bottom: 15px;
}

#create_user_button {
	padding: 3px 25px 3px 25px;
	margin-top: 10px;
}

#login_userId {
	margin-top: 15px;
	margin-bottom: 15px;
}

#login_user_button {
	padding: 3px 25px 3px 25px;
	margin-top: 10px;
}

#error_message  {
	font-size: 3px;
	color: orange;
}

#errorlist {
	color:#FF3333;
}

table {
	margin-top:20px;
	margin-bottom: 20px;
	width: 100%;
}

table, th, td{
	border-collapse: collapse;
	border: 1px #080808 solid;
}

table#mySubscriptionsList .serviceName {
	width: 30%;
}

table#mySubscriptionsList .startingDate {
	width: 20%;
}

table#mySubscriptionsList th {
	font-weight: bold;
	padding: 20px;
}

#register_service_name {
	margin-top: 15px;
	margin-bottom: 15px;
}

#register_starting_date {
	margin-top: 15px;
	margin-bottom: 15px;
}

#register_subscription_button {
	padding: 3px 25px 3px 25px;
	margin-top: 10px;
}

#register_subscription_error_message {
	color :rgb(255, 148, 131);
}

#serviceDetails{
	margin-top:20px;
	margin-bottom:20px;
}
.editForm {
	display       : inline-block;
}

.editBtn {
	 display       : inline-block;
  font-size     : 11pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #d9d9d9;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #d9d9d9;    /* 枠の指定 */
}

.editBtn:hover {
	color         : #d9d9d9;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.deleteForm {
	display       : inline-block;
}

.deleteBtn {
	display       : inline-block;
  font-size     : 11pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #d9d9d9;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #d9d9d9;    /* 枠の指定 */
  }
  
  .deleteBtn:hover {
	color         : #d9d9d9;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}
	