@charset "UTF-8";
footer{
	  background-color: rgb(149, 255, 147);
	  height:100px;
	  
	  display: flex;
  	  justify-content: center;
      align-items: center;
}

footer p {
	display:flex;
	color: rgb(255, 255, 255);
}