<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="/css/header.css" th:href="@{/css/header.css}" rel="stylesheet">
<link href="/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet">
<link href="/css/content.css" th:href="@{/css/content.css}" rel="stylesheet">
<meta charset="UTF-8">
<title>サブスク一覧</title>
</head>
<body>
	<div th:replace="common/header::header"></div>
		<div class="content">
			<h1 th:if="${loginMessage != null}" th:text="${loginMessage}"></h1>
			<h1 th:if="${registerCompletedMessage != null}" th:text="${registerCompletedMessage}"></h1>
			<h2>ユーザー情報</h2>
			<p th:text="|ユーザーID：${session.loginUser.userId}|"></p>
			<p th:text="|アカウント作成日付：${session.loginUser.createdAt}|"></p>
			<table id="mySubscriptionsList" >
				<tr>
					<th class="serviceName">サービス名</th>
					<th class="startingDate">利用開始日付</th>
					<th class="usagePeriod">利用期間</th>
					<th class="monthlyFee">月額料金</th>
					<th class="total">累積利用金額</th>
				</tr>
				<tr th:inline="text" th:each="subscription : ${subscriptionList}">
					<td class="subscriptionName">[[${subscription.serviceName}]]</td>
					<td class="startingDate">[[${subscription.startingDate}]]</td>
					<td class="usagePeriod">[[${subscription.usagePeriod}]]ヶ月</td>
					<td class="monthlyFee">[[${subscription.monthlyFee}]]円</td>
					<td class="total">[[${subscription.monthlyFee} * ${subscription.usagePeriod}]]円</td>
				</tr>
			</table>
		</div>
	<div th:replace="common/footer::footer"></div>
</body>
</html>